<h1 class="display-4 m-t-2">
  管理機能
</h1>

<p>
まずは大会を作成するか、大会を選択してください。
</p>

<p>
現時点では、ログインしたTwitterユーザーで作成した大会しか編集することができません。
</p>

<%= link_to "大会一覧へ", admin_events_path, class: "btn-lg btn-primary", role: "button" %>
