<h2 class="m-t-1">試合結果</h2>

<hr class="m-y-2">

<h3 class="m-t-1">通過者判定</h3>

<textarea id="passed" rows=10 class="form-control"></textarea>

<div class="row">
  <div class="col-xs-3">通過確定順位</div>
  <div class="col-xs-9"><select id="threshold-rank" class="form-control">
    <option value="1">1位</option>
    <option value="2" selected>2位</option>
    <option value="3">3位</option>
  </select></div>
</div>
<div class="row">
  <div class="col-xs-3">惜敗通過人数</div>
  <div class="col-xs-9"><input type="text" id="threshold-rate" class="form-control"></div>
</div>
<div class="row">
  <div class="col-xs-3">惜敗率の基準</div>
  <div class="col-xs-9"><select id="rate-basis" class="form-control">
    <option value="1" selected>1位</option>
    <option value="2">2位</option>
  </select></div>
</div>
<div class="row">
  <button id="load-scores" type="button" class="btn btn-success">結果を計算する</button>
</div>
<div class="row">
  <%= link_to 'ラウンド作成フォームへ移動', new_admin_round_path(event_id: @round.event.id), class: "btn btn-primary", role: 'button' %>
</div>

<hr class="m-y-2">

<h3 class="m-t-1">全結果</h3>

<table id="datatable">
  <thead>
    <tr>
      <td>プレイヤー名</td>
      <td>ジャンル</td>
      <td>形式</td>
      <td>得点</td>
      <td>順位</td>
      <td>1位惜敗</td>
      <td>2位惜敗</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<hr class="m-y-2">

<h3 class="m-t-1">Qacers形式出力</h3>
<textarea cols="50" rows="16"><%= @round.qacers_export %></textarea>

<hr class="m-y-2">

<%= link_to '一覧へ', admin_round_path(@round), class: "btn btn-secondary", role: 'button' %>
