<h2 class="m-t-1">試合結果</h2>

<table id="datatable">
  <thead>
    <tr>
      <td>プレイヤー名</td>
      <td>ジャンル</td>
      <td>形式</td>
      <td>得点</td>
      <td>順位</td>
      <td>1位惜敗</td>
      <td>2位惜敗</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<hr class="m-y-2">

<%= link_to '一覧へ', round_path(@round), class: "btn btn-secondary", role: 'button' %>
