<div class="jumbotron">
  <h1 class="display-3">Qtoolf</h1>
  <p class="lead">The tool for your cosmically-growing needs of Quiz Magic Academy tournament management.</p>
  <hr class="m-y-2">
  <% if @current_user %>
    <p class="m-t-1">
      <a class="btn btn-primary btn-lg" href="/admin" role="button">Enter Admin page</a>
    </p>
    <p class="m-t-1">
      <a class="btn btn-success btn-lg" href="/events" role="button">All Events</a>
      <a class="btn btn-success btn-lg" href="/about" role="button">Learn more</a>
    </p>
  <% else %>
    <p class="m-t-1">
      <a class="btn btn-success btn-lg" href="/events" role="button">All Events</a>
      <a class="btn btn-success btn-lg" href="/about" role="button">Learn more</a>
    </p>
    <p class="m-t-1">
      <a class="btn btn-primary btn-lg" href="/auth/twitter" role="button">Login with Twitter</a>
    </p>
  <% end %>

</div>
